@import "tailwindcss";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-poppins-sans);
}

.contenu{
    @apply mx-auto max-w-7xl w-full px-4 sm:px-6 lg:px-8;
}

*{
    scroll-behavior: smooth;
    font-family: var(--font-sans);
}

